body {
  background-color:pink;
}

h1 {
  color: blue;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family:sans-serif
 
}

#tasks .completed {
  text-decoration: underline;
}